    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    debug {
        // Prefer the NVIDIA render node for smoother external HDMI output.
        render-drm-device "/dev/dri/by-path/pci-0000:01:00.0-render"

        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
